<h1 class='hello_error'><%= flash[:error] %></h1>

<%= form_with model: @payment, class: 'form' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <%= f.submit class: 'submit' %>
<% end %>