<div id='payment_form'>
  <h1 class='hello_error'><%= flash[:error] %></h1>

  <%= link_to 'Back', groups_url %>

  <%= form_with model: @payment, url: group_payments_path, class: 'form' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01 %>

    <%= f.submit class: 'submit' %>
  <% end %>
</div>