<div id='payment_form'>
  <h1 class='hello_error'><%= flash[:error] %></h1>

  <%= form_with model: @payment, url: group_payments_path, class: 'form' do |f| %>
    <div class='payments_form'>
      <%= link_to groups_url, class: 'signup_back' do %>
        <i class="fa fa-arrow-left fa-2x"></i>
      <% end %>
      <%= f.submit class: 'submit' %>
    </div>
    <div class='name_amount'>
      <%= f.text_field :name, placeholder: 'Name' %>
      <%= f.number_field :amount, step: 0.01, placeholder: 'Amount' %>
    </div>
  <% end %>
</div>